/debug
/release/*.o
/RectanglePacker.pro.user.d0fd1ca
/.qmake.stash
/Makefile
/Makefile.Debug
/Makefile.Release
/RectanglePacker.pro.user
/RectanglePacker.pro.user.121b1ff
/release/out.txt
/release/algo.exe
